{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1 class="text-center">FastAPI dashboard</h1>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron">
            Welcome to fastAPI app.
        </div>
    </div>
</div>
{% endblock %}
