{% extends "layout.html" %}

{% block title %}Cognito Refresh Token{% endblock %}

{% block body %}
<h1 class="text-center">Cognito Refresh Token</h1>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="jumbotron">
            <label>Existing Access Token</label>
            <textarea>{{ existing_access_token }}</textarea>
            <label>Replacement Access Token</label>
            <textarea>{{ replacement_access_token }}</textarea>
            <label>Existing Refresh Token</label>
            <textarea>{{ existing_refresh_token }}</textarea>
            <label>Replacement Refresh Token</label>
            <textarea>{{ replacement_refresh_token }}</textarea>
        </div>
    </div>
</div>
{% endblock %}
